<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<%- include('assets/header', {oldal: "fizetes"}) %>
<body>
    <div id="page-container">
        <% if (current_role) { %>
            <h2 class="text-center m-4">Számlázási adatok</h2>
            <table class="table w-75">
                <thead>
                    <tr>
                        <th>Termékek neve</th>
                        <th>mennyiség</th>
                        <th>Ár</th>
                        <th>Részösszeg</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < etelek.length; i++){ %>
                    <tr>
                        <td> <%- etelek[i].nev %></td>
                        <td> <%- etelek[i].mennyiseg %> db</td>
                        <td> <%- etelek[i].ar %> Ft</td>
                        <% ar += etelek[i].ar * etelek[i].mennyiseg %>
                        <td> <%- etelek[i].ar * etelek[i].mennyiseg%> Ft</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <table class="table w-25">
                <thead>
                    <tr>
                        <th>Számlázási cím</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%- adatok.address %></td>
                    </tr>
                </tbody>
            </table>
            <h5 class="text-center">Végösszeg : <%- ar %></h5>
            <form action="/fizetes" method="post" class="text-center">
                <input class="btn btn-success " type="submit" value="Megrendelés">
            </form>
          <% } %>
    </div>
    <%- include('assets/footer') %>
</body>
</html>