<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <%- include('includes/header', {oldal: oldal}) %>
    <body>
        <div class="container">
            <% if(locals.siker){ %>
                <p class="fade-out siker">Sikeres bejelentkezés!</p>
            <% } %>
            <p style="font-size: 5vw; text-align: center">Üdv a weboldalon!</p>
            <div class="row row-cols-3 g-3 align-items-center justify-content-center">
                <% if(locals.table){ %>
                    <% for(let i = 0; i < locals.table['rows'].length; i++){ %>

                        <div class="col d-flex justify-content-center">
                            <div class="card">
                                <img src="<%- locals.table['rows'][i][5] %>" alt="kep" style="background-size: contain;" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title"><%= locals.table['rows'][i][0] %></h5>
                                    <p><%= locals.table['rows'][i][1] %> oldal</p>
                                    <p><%= locals.table['rows'][i][2] %></p>
                                    <p><%= locals.table['rows'][i][3] %> Ft</p>
                                </div>

                                <% if(locals.curr_role === 1){ %>
                                    <form action="/upload" method="get">
                                        <button type="submit" value="modifiy" class="btn btn-secondary">szerkesztés</button>
                                    </form>
                                    <form action="/deleteKonyv" method="post">
                                        <button type="submit" value="delete" class="btn btn-secondary">törlés</button>
                                    </form>
                                <% } else { %>
                                    <form action="/addToKosar" method="post">
                                        <button type="submit" value="<%= locals.table['rows'][i][4] %>" name="isbn" class="btn btn-secondary" style="margin-left: 72px; width: 100px;">Kosárba</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% } %>

                    <% if(locals.curr_role === 1){ %>
                    <form action="/upload" method="get">
                        <button type="submit" value="upload">hozzáadás</button>
                    </form>
                    <% } %>
                <% } %>
            </div>
        </div>
    </body>
<%#- include('includes/footer') %>
</html>
