<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <%- include('includes/header', {oldal: locals.oldal}) %>
    <body>

        <% if(locals.szerkesztendo && locals.szerkesztendo['rows'].length){ %>
            <form class="form text-center" action="/editKategoria" method="post">
                <label>
                    Nev: <input class="form-control" type="text" placeholder="név" value="<%- szerkesztendo['rows'][0][1] %>" name="nev" />
                </label><br>
                <input type="hidden" value="<%- szerkesztendo['rows'][0][0] %>" name="id" />
                <button class="gomb mt-2" type="submit">Hozzáadás</button>
            </form>
        <% } %>
        <% if(locals.table){ %>
            <table class="table align-middle w-75 mx-auto">
                <thead>
                    <tr>
                        <% for(let i = 0; i < locals.table['metaData'].length; i++){ if(table['metaData'][i]['name'] === 'ID'){ continue; } %>
                        <th><%= locals.table['metaData'][i]['name'] %></th>
                        <% } %>
                        <% if(locals.curr_role === 1){ %>
                        <th></th><th></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < locals.table['rows'].length; i++){ %>
                    <tr>
                        <% for(let j = 0; j < locals.table['metaData'].length; j++){ if(table['metaData'][j]['name'] === 'ID'){ continue; } %>
                            <% if(locals.curr_role === 1){ %>
                                <td>
                                    <%= locals.table['rows'][i][j] %>
                                </td>
                                <% if(locals.id != locals.table['rows'][i][0]){ %>
                                    <td>
                                        <a class="gomb" href="/<%- oldal %>?id=<%= locals.table['rows'][i][0] %>">Szerkeszt</a>
                                    </td>
                                    <td>
                                        <a class="torol" href="/deleteKategoria?id=<%= locals.table['rows'][i][0] %>">Törlés</a>
                                    </td>
                                <% }else{ %>
                                    <td colspan="2">
                                        <a class="gomb text-end" href="/<%- oldal %>">Mégse</a>
                                    </td>
                                <% } %>
                            <% }else{ %>
                                <td>
                                    <%= locals.table['rows'][i][j] %>
                                </td>
                            <% } %>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>
    </body>
    <%#- include('includes/footer') %>
</html>
