<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<%- include('assets/header', {oldal: "kosar"}) %>
<body>
    <div id="page-container">
        <% if (current_role) { %>
            <% for(let i = 0; i < etelek.length; i++){ %>
                <div class="card" style="max-width: 80%; position: relative; margin: 30px auto 30px auto">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/<%- etelek[i].kepnev %>" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%- etelek[i].nev %></h5>
                                <p class="card-text"><%- etelek[i].leiras %><br><%- etelek[i].ar %> Ft<br><%- etelek[i].mennyiseg %> db</p>
                                <form action="/kosar/<%= etelek[i].id %>" method="post">
                                    <button type="submit" name="btn" value="add" style="margin: 20px 15px;float: right;" class="btn btn-success btn-lg details">+</button>
                                    <button type="submit" name="btn" value="minus" style="margin: 20px 15px;float: right;" class="btn btn-success btn-lg details">-</button>
                                    <button type="submit" name="btn" value="delete" style="margin: 20px 15px;float: right;" class="btn btn-success btn-lg details">Törlés</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="alert alert-success container mx-auto m-4"  role="alert">
                <p class="m-0">Végösszeg: <%- vegosszeg %> Ft</p>
            </div>
            <div class="text-right m-4">
                <a href="/fizetes" class="gomb m-3" style="background-color: rgba(88,133,22,80); padding: 10px; margin-right: 20px; margin-bottom: 20px;">Tovább a fizetésre!</a>
            </div>
        <% } %>
    </div>
    <%- include('assets/footer') %>
</body>
</html>