<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<%- include('assets/header', {oldal: "menu"}) %>
<body>
    <div id="page-container">
        <% if (current_role !== 'ROLE_ADMIN') { %>
            <form action="/menu" method="get">
                <div class="form-group" style="max-width: 80%; padding: 0.5em; position: relative; margin:auto">
                    <fieldset>
                        <legend>Ételek szűrése</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="laktoz" id="laktoz" value="1"/>Laktózmentes
                            </br>
                            <input class="form-check-input" type="checkbox" name="gluten" id="gluten" value="1">Gluténmentes
                        </div>
                        <input class="btn btn-primary" type="submit" style="margin-top: 10px" value="Szűrés"/>
                    </fieldset>
                </div>
            </form>
            <% for(let i = 0; i < etelek.length; i++){ %>
                <div class="card mb-3" style="max-width: 80%; padding: 0.5em; position: relative; margin:auto">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/<%- etelek[i].kepnev %>" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title"><%- etelek[i].nev %></h1>
                                <p class="card-text" style="font-size: 1.5rem"><%- etelek[i].leiras %></p>
                                <p class="card-text" style="font-size: 1.5rem"><%- etelek[i].ar %> Ft</p>
                            </div>
                            <% if (current_role) { %>
                                <form action="/menu/<%= etelek[i].id %>" method="post" class="d-flex flex-row-reverse" style="bottom: 0">
                                    <button type="submit" style="position: absolute; bottom: 0; margin: 0 20px 25px 0 ;" class="btn btn-success btn-lg details">Kosárba</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>

        <% if (current_role === 'ROLE_ADMIN') { %>
            <table class="table w-75 mx-auto mt-4">
                <thead>
                    <tr>
                        <th>Név</th>
                        <th>Leírás</th>
                        <th>Ár</th>
                        <th>Kép útvonal</th>
                        <th>Mentes</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < etelek.length; i++){ %>
                        <tr>
                            <td><%= etelek[i].nev %></td>
                            <td><%= etelek[i].leiras %></td>
                            <td><%= etelek[i].ar %> Ft</td>
                            <td><%= etelek[i].kepnev %></td>
                            <td>
                                <% if (mentessegek.some(e => e.erzekenyseg === "Laktóz" && e.etelid === etelek[i].id)) { %><p>Laktóz</p><% } %>
                                <% if (mentessegek.some(e => e.erzekenyseg === "Glutén" && e.etelid === etelek[i].id)) { %><p>Glutén</p><% } %>
                            </td>
                            <td><a  class="btn btn-primary" role="button" href="/menu/<%= etelek[i].id %>">Szerkeszt</a></td>
                            <td><button type ="button" data-toggle="modal" data-target="#modal-toTrash<%= etelek[i].id %>" class="btn btn-danger">Törlés
                                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Sent to Trash Box"></span></button>
                            </td>
                            <div class="modal modal-toTrash" id="modal-toTrash<%= etelek[i].id %>">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="error-text">Biztos hogy törlöd a(z) <strong><%= etelek[i].nev %></strong> elemet? </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn-sm btn-dark details" data-dismiss="modal" aria-hidden="true">
                                                Mégsem
                                            </button>
                                            <form action="/deleteEtel/<%= etelek[i].id %>" method="post">
                                                <button class="btn-sm btn-dark details" value="delete">Igen</button></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% if (etel) { %>
                <h2 class="text-center"><%- etel.nev %> szerkesztése</h2>
                <form action="/editEtel/<%- etel.id %>" method="post" class="text-center">
                    <label>Név:
                        <input type="text" class="form-control" name="nev" id="nev" value="<%- etel.nev %>"/>
                    </label>
                    <label>Leírás:
                        <input type="text" class="form-control" name="leiras" id="leiras" value="<%- etel.leiras %>"/>
                    </label>
                    <label>Ár:
                        <input type="number" class="form-control" name="ar" id="ar" value="<%- etel.ar %>"/>
                    </label>
                    <label>Kép útvonal:
                        <input type="text" class="form-control" name="kepnev" id="kepnev" value="<%- etel.kepnev %>"/>
                    </label>
                    <label>Mentesség:
                        <% if (gluten){ %><input type="checkbox" name="gluten" id="gluten" value="TRUE" checked/>Glutén<% } %>
                        <% if (!gluten){ %><input type="checkbox" name="gluten" id="gluten" value="TRUE"/>Glutén<% } %>
                        <% if (laktoz){ %><input type="checkbox" name="laktoz" id="laktoz" value="TRUE" checked/>Laktóz<% } %>
                        <% if (!laktoz){ %><input type="checkbox" name="laktoz" id="laktoz" value="TRUE"/>Laktóz<% } %>
                    </label>
                    <a href="/menu">Mégse</a>
                    <input class="btn btn-primary" type="submit" value="Frissit"/>
                </form>
            <% } %>

            <% if (current_role === "ROLE_ADMIN" && !etel) { %>
                <h2 class="text-center">Étel hozzáadása</h2>
                <form action="/addEtel" method="post" class="text-center">
                    <label>Név:
                        <input type="text" class="form-control" name="nev" id="nev"/>
                    </label>
                    <label>Leírás:
                        <input type="text" class="form-control" name="leiras" id="leiras"/>
                    </label>
                    <label>Ár:
                        <input type="number" class="form-control" name="ar" id="ar"/>
                    </label>
                    <label>Képnév:
                        <input type="text" class="form-control" name="kepnev" id="kepnev"/>
                    </label>
                    <label>Mentesség:
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="gluten" id="gluten" value="TRUE">
                            <label class="form-check-label" for="flexCheckDefault">
                                Glutén
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="laktoz" id="laktoz" value="TRUE">
                            <label class="form-check-label" for="flexCheckDefault">
                                Laktóz
                            </label>
                        </div>

                        <!-- <input class="form-check-input" type="checkbox" name="gluten" id="gluten" value="TRUE"/>Glutén
                        <input class="form-check-input" type="checkbox" name="laktoz" id="laktoz" value="TRUE"/>Laktóz -->
                    </label>
                    <input class="btn btn-primary" type="submit" value="Hozzáad">
                </form>
            <% } %>
        <% } %>
    </div>
    <%- include('assets/footer') %>
</body>
</html>