<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<%- include('assets/header', {oldal: "profil"}) %>
<body style="background-image: url('img/login04.jpg');width: 100%; height:auto; background-repeat: no-repeat; background-position: center;">
    <div id="page-container">
        <table class="table" style="max-width: 80%; margin: 50px auto 0 auto; background-color: white;">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Felhasználónév</th>
                    <th scope="col">Lakcím</th>
                    <th scope="col">Telefonszám</th>
                    <th scope="col">Nem</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <% if(current_role !== 'ROLE_ADMIN'){ %>
                <tr>
                    <td><%= current_user.email %></td>
                    <td><%= current_user.felhnev %></td>
                    <td><%= current_user.address %></td>
                    <td><%= current_user.tel %></td>
                    <% if (current_user.nem === 'woman') {  %>
                        <td>Nő</td>
                    <% }else if(current_user.nem === 'man') { %>
                        <td>Férfi</td>
                    <% }else{ %>
                        <td>Egyéb</td>
                    <% }%>
                    <td><a  href="/updateProfil/<%= current_user.id %>">Adatok módosítása</a></td>
                </tr>
            <% } %>
            <% if(current_role === 'ROLE_ADMIN'){ %>
                <% for (var i=0; i<current_users.length; i++) { %>
                    <% if(current_users[i].role !== 'ROLE_ADMIN'){ %> <%# Nem tudom hogy kell-e max kiszedi valaki :) %>
                    <tr>
                        <td><%= current_users[i].email %></td>
                        <td><%= current_users[i].felhnev %></td>
                        <td><%= current_users[i].address %></td>
                        <td><%= current_users[i].tel %></td>
                        <% if (current_users[i].nem === 'woman') {  %>
                            <td>Nő</td>
                        <% }else if(current_users[i].nem === 'man') { %>
                            <td>Férfi</td>
                        <% }else{ %>
                            <td>Egyéb</td>
                        <% }%>
                        <td><a  href="/updateProfil/<%= current_users[i].id %>">Adott felhasználó adatainak módosítása</a></td>
                    </tr>
                    <% } %>    <%# Ez az az if vége ami elrejti az admin felhasználókat%>
                <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
    <%- include('assets/footer') %>
<!-- <table>
    <tr>
        <td>Email</td>
        <td>current_user.email</td>
        <td><%= current_user.email %></td>
    </tr>
    <tr>
        <td>Felhasználónév</td>
        <td>current_user.felhnev</td>
        <td><%= current_user.felhnev %></td>
    </tr>
    <tr>
        <td>address</td>
        <td>current_user.address</td>
        <td><%= current_user.address %></td>
    </tr>
    <tr>
        <td>born</td>
        <td>current_user.born</td>
        <td><%= current_user.born %></td>
    </tr>
    <tr>
        <td>nem</td>
        <td>current_user.nem</td>
        <td><%= current_user.nem %></td>
    </tr>
    <tr>
        <td>Role</td>
        <td>current_user.role</td>
        <td><%= current_user.role %></td>
    </tr>
</table> -->
</body>
</html>
