<!DOCTYPE html>
<html lang="en">
<%- include('assets/head') %>
<%- include('assets/header', {oldal: "updateProfil"}) %>
<body>
    <div id="page-container">
        <% if(hibak){ %>
            <% hibak.forEach((hiba) => { %>
                <p class="hiba"><%= hiba %></p>
            <% }); %>
        <% } %>
        <div class="container-md" style="margin-top: 30px; width: 80%;">
            <h2 style="margin-bottom: 20px;">Profil szerkesztése</h2>
            <form action="/updateProfil/<%= user.id %>" method="post" class="row g-3" >
                <div class="col-12">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" name="email" id="email" value="<%= user.email %>" required />
                </div>
                <div class="col-12">
                    <label for="passwd" class="form-label">Jelszó:</label>
                    <input type="password" name="passwd" id="passwd" value="" />
                    <small id="help" class="form-text text-muted">Ha nem szeretnél jelszót változtatni, ne írj be semmit.</small>
                </div>
                <div class="col-12">
                    <label for="fnev" class="form-label">Felhasználónév: </label>
                    <input type="text" name="fnev" id="fnev" value="<%= user.felhnev%>" required />
                </div>
                <div class="col-12">
                    <label for="fnev" class="form-label">Telefonszám: </label>
                    <input type="text" name="tel" id="tel" value="<%= user.tel%>" required />
                </div>
                <div class="col-12">
                    <label for="address" class="form-label">Lakcím:</label>
                    <input type="text" name="address" id="address" value="<%= user.address %>" required />
                </div>
                <div class="col-12">
                    <input type="submit" value="Módosít" class="btn btn-primary" />
                </div>

            </form>
            <form action="/deleteProfil/<%= user.id %>" method="post" style="margin-left: 0px">
                <button class="btn btn-danger" value="delete">Profil törlése</button>
            </form>
        </div>
    </div>
    <%- include('assets/footer') %>
</body>
</html>